aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
attrs==26.1.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
edge-tts==7.2.8
frozenlist==1.8.0
idna==3.13
multidict==6.7.1
propcache==0.4.1
pvporcupine==4.0.2
PyAudio==0.2.14
pycparser==3.0
requests==2.33.1
sounddevice==0.5.5
srt==3.5.3
tabulate==0.10.0
tqdm==4.67.3
typing_extensions==4.15.0
urllib3==2.6.3
vosk==0.3.45
websockets==16.0
yarl==1.23.0